@import '~bulma/sass/utilities/_all'
@import '~bulma/sass/base/helpers'
@import '~bulma/sass/layout/_all'
@import '~bulma/sass/grid/_all'
@import '~bulma/sass/elements/container'
@import '~bulma/sass/components/navbar'
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai|Athiti|Charm|Charmonman|Dancing+Script|Montserrat|Roboto|Srisakdi|Thasadith|Tangerine|Parisienne')
.navbar-center
  justify-content: center
a.navbar-item
  font-family: 'Arima Madurai', cursive
  text-align: center
  &:hover
    background: transparent
    color: #f48473
img
  max-width: 100%
