@import '~bulma/sass/utilities/_all'
@import '~bulma/sass/base/helpers'
@import '~bulma/sass/layout/_all'
@import '~bulma/sass/grid/_all'
@import '~bulma/sass/elements/container'
@import '~bulma/sass/components/navbar'
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai|Athiti|Charm|Charmonman|Dancing+Script|Montserrat|Roboto|Srisakdi|Thasadith|Tangerine|Parisienne')
.navbar-center
  justify-content: center
a.navbar-item
  font-family: 'Arima Madurai', cursive
  text-align: center
  text-decoration: none
  &:hover, &.nuxt-link-active
    background: transparent
    color: #f48473

img
  max-width: 100%
.theme-image-container 
  background-image: url('/bg/bg-top.png')
  background-size: contain
  background-repeat: no-repeat
  background-position: center top
  height: 120px
.theme-image-bottom 
  background-image: url('/bg/bg-bottom.png')
  background-position: center bottom
.title-container 
  text-align: center
.wedding-title 
  font-family: 'Tangerine', cursive
  font-size: 4rem
  font-style: normal
  font-weight: normal
  color: #685850
.page-body
  padding: 1rem 0
